# ==========================
# Sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDEs
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# Angular
# ==========================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/

# ==========================
# Spring Boot
# ==========================
backend-java/target/

# ==========================
# Variables de entorno
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*
yarn-error.log*

# ==========================
# Uploads generados por la aplicación
# ==========================
backend-java/uploads/*
!backend-java/uploads/.gitkeep
